:host ::ng-deep .p-buttonset .p-button:first-of-type,
:host ::ng-deep .p-buttonset .p-button:last-of-type {
  width: 98px;
  height: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 82px;
  h4 {
    margin-bottom: 30px;
  }
  .image_wrapper {
    display: flex;
    width: 170px;
    height: 140px;
    margin-bottom: 55px;

    i {
      font-size: 20px;
      display: flex;
      justify-content: center;
      background-color: #0d89ec;
      color: #ffffff;
      border-radius: 50%;
      width: 42px;
      height: 30px;
      align-items: center;
    }
    &:hover .overlay {
      opacity: 1;
    }

    img {
      position: relative;
      width: 100%;
      height: 100%;
      border: 3px solid #39a2db;
      border-radius: 5px;
      margin-right: 20px;
      background-position: center center;
      background-repeat: no-repeat;
      overflow: hidden;
    }
  }
  .row_wrapper {
    margin-bottom: 20px;
  }
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;

    .radio_button_wrapper {
      width: 195px;
    }

    span:not(.error_text),
    .radio_button {
      margin-right: 20px;
    }
  }

  .uploader {
    width: 100%;
    max-width: 845px;
    margin-bottom: 30px;
    .hide_uploader {
      display: none;
    }
  }

  .buttons_wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    button:first-child {
      margin-right: 20px;
    }
  }
  span.error_text {
    max-width: 175px;
  }
}
