:host ::ng-deep .p-inputnumber-input,
:host ::ng-deep .p-dropdown {
  min-width: 247px;
}
form {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  min-height: 230px;
  .elements_wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    button:first-child {
      margin-right: 20px;
    }
  }
}
