<button
  type="button"
  pButton
  (click)="deleteBonus()"
  [disabled]="!bonusesData.length || !selectedBonuses.length"
>
  მონიშნული ბონუსების წაშლა
</button>
<p-table
  [columns]="cols"
  [value]="bonusesData"
  [rows]="maxRowsNumber"
  [paginator]="true"
  [totalRecords]="totalRecords"
  [pageLinks]="3"
  [filterDelay]="0"
  [autoLayout]="true"
  selectionMode="multiple"
  [(selection)]="selectedBonuses"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        <div>
          {{ col.header }}
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr
      [pSelectableRow]="rowData"
      pTooltip="ბონუსის წასაშლელად დააჭირეთ სტრიქონ(ებ)ს"
    >
      <td *ngFor="let col of columns" [ngSwitch]="col.field">
        <ng-container *ngSwitchCase="'bonusType'">{{
          rowData.bonusType.name
        }}</ng-container>
        <ng-container *ngSwitchCase="'currency'">{{
          rowData?.currency ? rowData.currency.name : '-'
        }}</ng-container>

        <ng-container *ngSwitchDefault>{{ rowData[col.field] }}</ng-container>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length" style="text-align: left">
        ჩანაწერი არ მოიძებნა
      </td>
    </tr>
  </ng-template>
  <!-- <ng-template pTemplate="paginatorleft">
    <app-table-items-per-page
      [itemsPerPageOpts]="[5, 10, 20]"
      [dataLength]="totalRecords"
      [maxRowNumber]="maxRowsNumber"
      [dataLoaded]="myOrdersDataLoaded"
      (changeMaxRowNumber)="changeMacRowNumber($event)"
    ></app-table-items-per-page>
  </ng-template> -->
</p-table>
