<app-table-filter
  (applyFilterEmmiter)="applyFilters($event)"
></app-table-filter>
<app-users-table
  [usersData]="usersData"
  [usersDataLoading]="usersDataLoading"
  [maxRowsNumber]="maxRowsNumber"
  [totalRecords]="totalRecords"
  [first]="first"
  (editUserEmitter)="editUser($event)"
  (deleteUserEmitter)="deleteUser($event)"
  (addBonusEmitter)="addBonus($event)"
  (viewAndDeleteBonusEmitter)="viewAndDeleteBonus($event)"
  (viewDetailsEmitter)="viewDetails($event)"
  (changeMaxRowNumberEmitter)="changeMaxRowNumber($event)"
  (changeFirstValueEmitter)="changeFirstValue($event)"
></app-users-table>
